In [1]:
print("Welcome to Assignment -1 ")

Welcome to Assignment -1
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [2]:
num1=10
print("num1 =",num1)
num2=30
print("num2 =",num2)
add=num1+num2
print("Add =",add)

num1 = 10
num2 = 30
Add = 40
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [4]:
bmi=int(input("Enter the BMI Index :"))
if bmi<18:
    print("Underweight")
elif bmi<25:
        print("Normal")
elif bmi<30:
        print("Overweight")
else:
    print("Obese")

Enter the BMI Index :34
Obese

In [5]:
print("HOPE AI")

HOPE AI

In [8]:
name=str(input("Enter your Institute name ? :"))

Enter your Institute name ? :HOPE AI

In [9]:
name=str(input("Enter your name :"))
age=int(input("Enter your age :"))
school=str(input("Enter your school name :"))
degree=str(input("Enter your degree :"))

Enter your name :Raj
Enter your age :15
Enter your school name :Guru School
Enter your degree :B.E CSE

In [10]:
a=43
print("a =",a)
b=34
print("b =",b)
add=a+b
print("Add =",add)

a = 43
b = 34
Add = 77

In [13]:
#addition

a=int(input("a= "))
b=int(input("b= "))
add=a+b
print("Add= ",add)

a= 43
b= 34
Add=  77

In [12]:
#subtraction

a=int(input("a= "))
b=int(input("b= "))
sub=a-b
print("Sub= ",sub)

a =43
b =34
Sub = 9

In [14]:
#multiplication

a=int(input("a= "))
b=int(input("b= "))
mul=a*b
print("Mul= ",mul)

a= 63
b= 97
Mul=  6111

In [15]:
#Division

a=int(input("a= "))
b=int(input("b= "))
div=a/b
print("Float Div= ",div)

a= 76
b= 31
Div=  2.4516129032258065

In [16]:
#Floor Division

a=int(input("a= "))
b=int(input("b= "))
div=a//b
print("Floor Div= ",div)

a= 76
b= 31
Div=  2

In [17]:
#Modulo

a=int(input("a= "))
b=int(input("b= "))
rem=a%b
print("Modulo = ",rem)

a= 76
b= 31
Modulo =  14

In [19]:
#Power


a=int(input("a= "))
b=int(input("b= "))
pow=a**b
print("Power = ",pow)

a= 4
b= 4
Power =  256

In [22]:
#print 0 to 20 by using range - for loop

for r in range(0,20):
    print(r)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [23]:
#print 0 to 20 by using range - while loop

i=0
while i in range(0,20):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [45]:
#print range 10 to 20 -for loop

for r in range(10,20):
    print(r, end=" ")

10 11 12 13 14 15 16 17 18 19

In [44]:
#print range 10 to 20 -while loop

i=10
while i in range(10,20):
    print(i,end=" ")
    i+=1

10 11 12 13 14 15 16 17 18 19

In [27]:
#print number of items in the list by using 'len'

list2=[10,20,14,55,43,87,76]
print(list2)
print("Number of items in the list2: ",len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the list2:  7

In [30]:
print("Artificial Intelligence")
for s in "Artificial Intelligence":
    print(s)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [46]:
print("Artificial Intelligence")
str1="Artificial Intelligence"
for s in str1 :
    print(s)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [31]:
lists=["-your name-","-your age-", "-your proffession-"]
print(lists)

['-your name-', '-your age-', '-your proffession-']

In [33]:
lists=["-your name-","-your age-", "-your proffession-"]
for l in lists:
    print(l)

-your name-
-your age-
-your proffession-

In [34]:
#Tuple

tuple1=(1, "Welcome", 2, "Hope")
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [35]:
#Nested tuples

tuple2=(0,1,2,3)
tuple3=("python", "HOPE")
print(tuple2,tuple3)

(0, 1, 2, 3) ('python', 'HOPE')

In [41]:
#print odd numbers in tuples

t=(20,10,16,19,25,1,276,188)
print(t)
for tuple4 in t:
    if tuple4%2==1:
        print(tuple4, "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [42]:
#print even numbers in tuples

t=(20,10,16,19,25,1,276,188)
print(t)
for tuple5 in t:
    if tuple5%2==0:
        print(tuple5, "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even

In [47]:
#print correct if i==10

i=int(input("Value :" ))
if i==10:
    print("correct")

Value :10
correct

In [51]:
#Check the password using if and else

pwd=(input("Enter the password :"))
if pwd=="HOPE@123":
    print("your password is correct")
else:
    print("sorry!! your password is incorrect");

Enter the password :hope
your password is incorrect

In [54]:
#Category the people by their age

age=int(input("Enter your age :"))

if age<2:
    print("Baby")
elif age<16:
    print("Children")
elif age<30:
    print("Young Adults")
elif age<45:
    print("Middle age Adults")
elif age<60:
    print("Old Adults")
else:
    print("Senior citizens")

Enter your age :29
Young Adults

In [60]:
#Find whether given number is positive or negative

num=int(input("Enter the number :"))
if num>0:
    print("The given number is positive")
elif num<0:
    print("The given number is negative")
else:
    print("The given number is zero")

Enter the number :1
The given number is positive

In [64]:
#check whether the given number is divisible by 5
# A number is divisible by 5 if its digits last digit will be 0 or 5 

rem=int(input("Enter the number :"))
if rem%5==0:
    print("The number is divisible by 5")
else:
    print("The number is not divisible by 5")

Enter the number :525
The number is divisible by 5